<div class="container-fluid px-0 mt-0 mt-md-5 pt-5">
  <h1 class="header mt-4">РЕЙТИНГ БОЙЦОВ</h1>
    <div class="container px-3 px-lg-2 mt-4">
      <div class="row">
        <div *ngIf="pfpRating.length >2" class="col-4">
          <div class="weight">
            <div class="top_fighter_info">
              <p class="weight_title">ВНЕ ЗАВИСИМОСТИ ОТ КАТЕГОРИЙ</p>
              <p class="top_rank">TOP RANK</p>
              <a routerLink="../fighters/{{pfpRating[0].id}}" class="fighter_name">{{pfpRating[0].name}}<br>{{pfpRating[0].secondName}}</a>
              <div class="fighter_picture">
                <img alt="none" src="https://i.imgur.com/TYUMnmj.png"/>
              </div>
            </div>
            <div class="horizontal_separator"></div>
            <div class="weight_fighters_top">
              <a routerLink="../fighters/{{fighter.id}}" class="fighter_field" *ngFor="let fighter of pfpRating.slice(1,pfpRating.length)">
                <p class="rating_number">{{fighter.rating}}</p>
                <p class="fighter_field_name">{{fighter.name}} {{fighter.secondName}}</p>
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="welterweightRating.length >=2" class="col-md-6 px-0 col-lg-4 mb-4">
          <div class="d-flex justify-content-center">
            <div class="weight">
              <div class="top_fighter_info">
                <p class="weight_title">ПОЛУСРЕДНИЙ ВЕС</p>
                <p class="champion">ЧЕМПИОН</p>
                <a routerLink="../fighters/{{welterweightRating[0].id}}" class="fighter_name">{{welterweightRating[0].name}}<br>{{welterweightRating[0].secondName}}</a>
                <div class="img_container">
                  <img alt="none" class="fighter_img" src="https://i.imgur.com/TYUMnmj.png"/>
                </div>
              </div>
              <div class="horizontal_separator"></div>
              <div class="weight_fighters_top">
                <a routerLink="../fighters/{{fighter.id}}" class="fighter_field" *ngFor="let fighter of welterweightRating.slice(1,welterweightRating.length)">
                  <p class="rating_number">{{fighter.rating}}</p>
                  <p class="fighter_field_name">{{fighter.name}} {{fighter.secondName}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="lightweightRating.length >=2" class="col-md-6 col-lg-4  mb-4">
          <div class="d-flex justify-content-center">
            <div class="weight">
              <div class="top_fighter_info">
                <p class="weight_title">ЛЁГКИЙ ВЕС</p>
                <p class="champion">ЧЕМПИОН</p>
                <a routerLink="../fighters/{{lightweightRating[0].id}}" class="fighter_name">{{lightweightRating[0].name}}<br>{{lightweightRating[0].secondName}}</a>
                <div class="img_container">
                  <img alt="none" class="fighter_img" src="https://i.imgur.com/TYUMnmj.png"/>
                </div>
              </div>
              <div class="horizontal_separator"></div>
              <div class="weight_fighters_top">
                <a routerLink="../fighters/{{fighter.id}}" class="fighter_field" *ngFor="let fighter of lightweightRating.slice(1,lightweightRating.length)">
                  <p class="rating_number">{{fighter.rating}}</p>
                  <p class="fighter_field_name">{{fighter.name}} {{fighter.secondName}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="featherweightRating.length >= 2" class="col-4">
          <div class="weight">
            <div class="top_fighter_info">
              <p class="weight_title">ПОЛУЛЁГКИЙ ВЕС</p>
              <p class="champion">ЧЕМПИОН</p>
              <a routerLink="../fighters/{{featherweightRating[0].id}}" class="fighter_name">{{featherweightRating[0].name}}<br>{{featherweightRating[0].secondName}}</a>
              <div class="fighter_picture">
                <img alt="none" src="https://i.imgur.com/TYUMnmj.png"/>
              </div>
            </div>
            <div class="horizontal_separator"></div>
            <div class="weight_fighters_top">
              <a routerLink="../fighters/{{fighter.id}}" class="fighter_field" *ngFor="let fighter of featherweightRating.slice(1,featherweightRating.length)">
                <p class="rating_number">{{fighter.rating}}</p>
                <p class="fighter_field_name">{{fighter.name}} {{fighter.secondName}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
