.ratings_page_content h1
{
  color: #1f1f1f;
  font-size: 65px;
  letter-spacing: 6px;
  text-align: center;
  margin: 5px 0 0 0 ;
}
.fighters_content
{
  max-width: 1450px;
  margin: 50px auto 100px;
}
.last_update
{
  margin: 35px 0 0 0;
  font-size: 18px;
  color: #575e64;
  font-weight: bolder;
  letter-spacing: 2px;
}
.weight
{
  max-width: 340px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px rgba(168, 151, 151, 0.2);
}
.weight_title
{
  margin: 0;
  font-size: 16px;
  color: #be0000;
  font-weight: bolder;
}
.top_fighter_info
{
  padding-left: 10px;
}
.category
{
  margin: 0;
  font-size: 16px;
  color: #be0000;
  padding: 10px 0 0 0 ;
  font-weight: bolder;
  width: 340px;
}
.top_rank
{
  margin: 5px 0 0 0;
  font-size: 17px;
  color: black;
  font-weight: bolder;
  letter-spacing: 1px;
}
.champion
{
  margin: 8px 0 5px 0;
  font-size: 14px;
  color: gray;
  font-family: 'Calibri Light', sans-serif;
}
.fighter_name
{
  margin: 0;
  font-size: 24px;
  color: #131313;
  font-weight: bolder;
  text-decoration: none;
  position: relative;
  left: 0;
  transition: 400ms;
}
.fighter_name:hover
{
  text-decoration: underline;
  left: 5px;
}
.fighter_name span
{
  color: #930000;
  text-shadow: 0 0 2px #9f0000;
  position: relative;
  font-weight: bolder;
  font-size: 16px;
  top: -5px;
  left: 4px;
}
.img_container
{
  position: relative;
  height: 80px;
}
.fighter_img
{
  top:-72px;
  left: 70px;
  position: relative;
  max-height: 163px;
  max-width: 270px;
}

.horizontal_separator
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.weight_fighters_top
{
  background: #ffffff;
  padding-top: 5px;
}
.fighter_field
{
  display: flex;
  position: relative;
  align-items: center;
  height: 33px;
  transition: 400ms ease;
  top:0;
  cursor: pointer;
  text-decoration: none;
}
.fighter_field p
{
margin-bottom: 0;
margin-top: 0;
}
.fighter_field:hover
{
  box-shadow: 0 0 4px 2px rgba(147, 121, 121, 0.2);
  top:-4px
}
.rating_number
{
  color: black;
  font-weight: bolder;
  font-size: 16px;
  width: 35px;
  text-align: left;
  margin-left: 8px;
}
.fighter_field_name
{
  font-size: 16px;
  font-weight: normal;
  color: #545454;
}
@media screen and (min-width: 989px){
  .container
  {
    max-width: 1020px;
  }
}
@media screen and (min-width:767px) and (max-width: 991px) {
  .container
  {
    max-width: 700px;
  }

}
@media screen and (min-width: 400px){
  .weight
  {
    min-width: 320px;
  }

}
@media screen and (max-width: 399px) {
  .fighter_img
  {
    height: auto;
    max-width: 200px;
    top:-52px;
    left: 60px;
  }
  .weight
  {
    min-width: 250px;
  }
  .img_container
  {
    height: 60px;
  }
}
