<div class="container-fluid mt-3 mt-md-5 pt-5">
    <div class="row justify-content-center mt-0 mt-sm-3 mb-3">
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <button (click)="showFutureTournaments()" class="display-md-4 tournaments_button">ПЛАНИРУЕМЫЕ</button>
      </div>
      <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <button (click)="showEndedTournaments()" class="display-md-4 tournaments_button">ПРОШЕДШИЕ</button>
      </div>
    </div>
    <p class="tournaments_counter">ТУРНИРЫ : <span style="color: #be0000">{{tournamentsToShow.length}}</span></p>
    <div class="container-lg px-0 mt-3">
      <div class="d-flex flex-column justify-content-center align-items-center px-2">
        <ng-container *ngIf="tournamentsToShow.length >0; else emptyList">
          <div class="row row-border py-sm-3 pt-4 align-items-center mb-4 w-100" *ngFor="let item of tournamentsToShow">
            <div class="col-12 col-md-2">
              <div class="d-flex justify-content-center justify-content-md-start">
                <img alt="none" class="ms-sm-3 mx-md-auto" src="{{item.pictureUrl}}"
                     height="65px" width="95px">
              </div>
            </div>
            <div class="col-12 col-sm-7 col-md-4">
              <div class="d-flex  justify-content-center">
                <div class="images_container position-relative">
                  <img alt="none" class="position-absolute img-fluid z-index right-50" src="{{item.fights[0].firstFighter.pictureUrl}}">
                  <img alt="none" class="position-relative img-fluid top-0 left-40" src="{{item.fights[0].secondFighter.pictureUrl}}">
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-md-3 b-top pt-2 mt-sm-0 px-md-2">
              <div class="d-block">
                <p class="fighters_names">{{item.fights[0].firstFighter.secondName}} vs {{item.fights[0].secondFighter.secondName}}</p>
                <p class="event_info">{{item.startDate | date:'longDate'}}<br>{{item.startDate | date: 'h:mm:ss a'}}</p>
                <p class="arena">{{item.place}}</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mt-sm-3 px-0">
              <div class="d-flex align-items-center justify-content-center">
                <button routerLink="../tournaments/{{item.id}}" class="d-flex my-3 mt-sm-0 align-items-center justify-content-center main_card_button">
                  ПОЛНЫЙ КАРД
                </button>
              </div>
            </div>
          </div>
          <button (click)="showMore()" type="button" class="show_more_button">ПОКАЗАТЬ БОЛЬШЕ</button>
        </ng-container>
        <ng-template #emptyList>
          <h2 class="header mt-4">Здесь пока ничего нет...</h2>
        </ng-template>
      </div>
    </div>
</div>
<app-footer></app-footer>
