.mt-6
{
  margin-top: 60px;
}
.tournaments_button
{
  font-size: 50px;
  letter-spacing: 2px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: 400ms;
  background: none;
  border:0;
}
.tournaments_button:hover
{
  top:-5px;
  color: black;
}
.tournaments_counter
{
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: #1f1f1f;
}
.tournaments_counter span
{
  color: #0e0e0e;
  font-size: 25px;
}
.row-border
{
  min-height: 220px;
  border-radius: 5px;
  box-shadow: 0 0 12px #d3d3d3;
}
.z-index
{
  z-index: 1;
}
.right-140
{
  right: 140px;
}
@media (max-width: 769px)
{
  .fighters_pictures img:first-child
  {
    left: -24px;
  }
  .fighters_pictures img:last-child
  {
    right: 140px;
  }
}
@media (min-width: 576px)
{
  .fighters_pictures img:first-child
  {
    left: -64px;
  }
  .fighters_pictures img:last-child
  {
    right: 190px;
  }

}
.fighters_names
{
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
}

.event_info
{
  margin: 5px 0 0 0;
  font-size: 19px;
}
.arena
{
  color: #585858;
  font-size: 16px;
  margin: 7px 0 0 0;
}
.main_card_button
{
  height: 45px;
  max-width: 140px;
  padding: 20px;
  font-size: 14px;
  background: transparent;
  border: 2px solid rgb(52, 52, 52);
  border-radius: 1px;
  color: black;
  cursor: pointer;
  position: relative;
  letter-spacing: 1px;
  transition: 400ms;
  z-index: 3;
  box-shadow: 0 0 0 2px transparent;
}
.main_card_button:hover
{
  color: white;
  border: 2px solid white;
  border-radius: 0;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}
.main_card_button:before
{
  content: "";
  position: absolute;
  height: 1px;
  top:0;
  width: 100%;
  background: transparent;
  border-radius: 1px;
  z-index: -2;
  transition: 400ms ease-out;
}
.main_card_button:hover:before
{
  height: 100%;
  background: rgb(38, 38, 38);
}
.show_more_button
{
  margin: 30px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid black;
  letter-spacing: 1px;
  max-width: 220px;
  cursor: pointer;
  transition: 400ms;
  top:0;
  position: relative;
}
.show_more_button:hover
{
  background: rgb(38, 38, 38);
  top: -5px;
  color: white;
}
.me-50
{
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .display-md-4
  {
    font-size: 35px;
  }
  .tournaments_button:first-child
  {
    margin-right: 15px;
  }
  .tournaments_counter
  {
    font-size: 20px;
  }
  .tournaments_counter span
  {
    font-size: 20px;
  }
}
.left-0
{
  left: 0;
}
.left-40
{
  left: 40px;
}
.right-50
{
  right: 50px;
}
.img-50
{
  max-height: 180px;
  max-width: 100%;
}
.images_container
{
  max-width: 276px;
}
@media screen and (max-width: 767px) {
.left-70
{
  left: 210px;
}
  .img-50
  {
    height: 180px;
  }
}
@media screen and (min-width: 988px){
  .container-lg
  {
    max-width: 1060px;
  }
}
@media screen and (min-width: 600px) {
  .img-fluid
  {
    max-height: 140px;
  }
}
@media screen and (max-width: 767px) {
  .img-fluid
  {
    max-height: 110px;
  }
  .fighters_names
  {
    font-size: 20px;
  }
  .event_info
  {
    font-size: 18px;
  }
  .main_card_button
  {
    height: 40px;
    padding: 12px;
  }
  .show_more_button
  {
    padding: 8px 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px){
  .b-top
  {
    border-top: 1px solid lightgrey;
  }
  .container-lg
  {
    max-width: 376px;
  }
}
@media screen and (min-width: 576px) {
.b-top
{
  border-top: 0;
}

}
