<div class="container-fluid mt-0 mt-md-5 pt-5">
  <div class="container-md px-0">
    <h1 class="mt-3 header">НОВОСТИ</h1>
      <div class="separator"></div>
      <div class="row mt-1 px-3 px-sm-4 g-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="d-flex align-items-center justify-content-center">
            <a routerLink="../news/{{blog.id}}" class="news_card" *ngFor="let blog of news">
              <img alt="none" src="{{blog.pictureUrl}}">
              <div class="news_title">
                <div class="news_subtitle">
                  <p class="publish_date">{{blog.published | date: 'longDate'}}</p>
                </div>
                <p class="news_header">{{blog.title}}</p>
                <p class="news_info">{{blog.shortInfo.slice(0,150)}}...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
