.news_page_container
{
  position: relative;
}
.news_page_content
{
  margin: 60px 0 100px 0;
}
.news_page_content h1
{
  color: #1f1f1f;
  font-size: 65px;
  letter-spacing: 6px;
  text-align: center;
  margin: 5px 0 0 0 ;
}
.separator
{
  margin-top: 25px;
  border-bottom: 1px solid #cecece;
  box-shadow: 0 0 12px #9f9f9f;
}
.news_card
{
  max-width: 340px;
  position: relative;
  bottom: 0;
  box-shadow: 0 0 8px #d2d2d2;
  transition: 450ms;
  cursor: pointer;
  text-decoration: none;
}
.news_card:hover
{
  box-shadow: 0 0 8px #ababab;
  bottom: 5px;
}
.news_card img
{
  max-width: 100%;
  width: auto;
}
.news_title
{
  padding: 10px 30px;
  color: black;
}
.news_subtitle
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.news_subtitle p
{
  font-size: 16px;
}
.publish_date
{
  margin: 0;
  color: #d20a0a;
}
.news_header
{
  font-weight: bolder;
  margin: 0 0 5px 0;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 60px;
}
.news_info
{
  margin: 0 0 10px;
  color: gray;
}
@media screen and (max-width: 410px)
{
  .news_card img
  {
    min-height: 160px;
  }
  .news_header
  {
    font-size: 16px;
  }
  .news_info
  {
    font-size: 14px;
  }
}
@media screen and (min-width: 1400px){
  .container-md
  {
    max-width: 1140px;
  }
}
