<div class="container-fluid px-0">
  <div class="news_page_header">
    <div class="d-block px-0 h-100 d-flex justify-content-center align-items-end">
      <div class="container-lg mx-lg-0">
        <p class="header_news_title">
          {{blog.title}}
        </p>
        <p class="header_news_info">
          {{blog.shortInfo}}
        </p>
        <div class="header_separator"></div>
        <div class="header_publish_date">GFC | {{blog.published | date: 'longDate'}}</div>
      </div>
    </div>
  </div>
  <div class="container-lg py-4">
    <div #content class="main_info">

    </div>
  </div>
</div>
<app-footer></app-footer>
