.mt-150
{
  margin-top: 150px;
}
.mb-100
{
  margin-bottom: 100px;
}
.event_card_nav_links
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.card_link{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  transition: 400ms;
}
.card_link:hover
{
  color: black;
  left: -2px;
  top: -2px;
}
.separator
{
  margin-top: 25px;
  border-bottom: 1px solid #919191;
  box-shadow: 0px 0px 12px #9f9f9f;
}
.event_card
{
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 0 20px;
}
.card_title
{
  text-align: center;
}
.card_title h1
{
  font-size: 50px;
  margin: 15px 0;
  font-weight: bolder;
}
.card_fight-border
{
  box-shadow: 0px 2px 18px #cecece;
  border-radius: 5px;
}
.height-200
{
  min-height: 160px;
}
.card_fighter_picture
{
  height: 80%;
  width: 100%;
  position: relative;
  margin-top: 20px;
  top:6px;
}
.card_fighter_info
{
  margin-top: 45px;
  position: relative;
  left: -20px;
  max-width: 160px;
}
.fighter_rating
{
  background: transparent;
  color: gray;
  font-size: 22px;
  max-height: 78px;
  margin: 0;
}
.top-20
{
  top:11px
}
.champion
{
  font-size: 22px;
  background: #d5b500;
  color: white;
  padding: 2px 12px;
  margin: 0;
}
.card_fighter_name
{
  font-weight: bolder;
  font-size: 26px;
  min-height: 70px;
  margin: 0;
  word-wrap: break-word;
}
.fight_info
{
  font-size: 19px;
  letter-spacing: 1px;
  text-align: center;
  color: #6b6b6b;
}
.fight_category
{
  margin: 0;
}
.champion_fight
{
  margin: 8px 0 0 0;
  color: darkgoldenrod;
}
.bottom_border
{
  border-top: 1px solid #d1d1d1;
}
.fighter_country
{
  display: flex;
}
.fs-20
{
  font-size: 20px;
  margin: 0;
}
.fight_chances
{
  font-size: 18px;
  color: gray;
}
.fight_chances p
{
  margin: 0;
}
.text-right
{
  text-align: right;
}
.img-fixed
{
  max-height: 149px;
  max-width: 264px;
}
