.mt-150
{
  margin-top: 150px;
}
.mb-100
{
  margin-bottom: 100px;
}
.event_card_nav_links
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.card_link{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  transition: 400ms;
}
.card_link:hover
{
  color: black;
  left: -2px;
  top: -2px;
}
.separator
{
  border-bottom: 1px solid lightgrey;
}
.card_title h1
{
  font-size: 50px;
  margin: 15px 0;
  font-weight: bolder;
}
.card_fight-border
{
  box-shadow: 0 2px 18px #cecece;
  border-radius: 5px;
}
.card_fighter_picture
{
  height: 80%;
  width: 100%;
  position: relative;
  margin-top: 20px;
  top:6px;
}
.card_fighter_info
{
  margin-top: 45px;
  position: relative;
  left: -20px;
  max-width: 160px;
}
.fighter_rating
{
  background: transparent;
  color: gray;
  font-size: 22px;
  max-height: 78px;
  margin: 0;
}
.top-20
{
  top:11px
}
.champion
{
  font-size: 22px;
  background: #d5b500;
  color: white;
  padding: 2px 12px;
  margin: 0;
  max-width: 35px;
}
.card_fighter_name
{
  font-weight: bolder;
  font-size: 23px;
  margin: 0;
  word-wrap: break-word;
  text-align: start;
}
.fight_info
{
  font-size: 19px;
  letter-spacing: 1px;
  text-align: center;
  color: #6b6b6b;
}
.fight_category
{
  margin: 0;
}
.champion_fight
{
  margin: 8px 0 0 0;
  color: darkgoldenrod;
}
.bottom_border
{
  border-top: 1px solid #d1d1d1;
  min-height: 40px;
}
.fighter_country
{
  display: flex;
}
.fs-20
{
  font-size: 20px;
  margin: 0;
}
.fight_chances
{
  font-size: 18px;
  color: gray;
}
.versus
{
  color: black; font-weight: bolder;font-size: 22px;
}
.fight_chances p
{
  margin: 0;
}
.text-right
{
  text-align: right;
}
.fight_img
{
  height: auto;
  max-width: 100%;
}
.header
{
  font-size: 50px;
}
.fight_results
{
  font-size: 16px;
  margin: 0 5px;
}
@media screen and (min-width: 1400px){
  .container-lg
  {
    max-width: 1140px;
  }
}
@media screen and (max-width: 992px){
  .card_fighter_name
  {
    font-size: 2.6vw;
  }
  .fight_info
  {
    font-size: 2vw;
  }
  .fight_img
  {
    min-width: 220px;
  }
}
@media screen and (max-width: 767px){
  .card_fighter_name
  {
    font-size: 16px;
  }
  .fight_info
  {
    font-size: 14px;
  }
  .fighter_rating
  {
    font-size: 15px;
  }
  .versus
  {
    font-size: 14px;
  }
  .champion
  {
    font-size: 14px;
    padding: 1px 8px;
    max-width: 23px;
  }
  .fighter_country
  {
    font-size: 14px;

  }
  .fighter_country p
  {
    margin: auto 4px auto 0;
  }
  .fighter_country img
  {
    height: 35px;
    width: 35px;
  }
  .fight_img
  {
    margin-top: 20px;
    min-width: 180px;
  }
  .header
  {
    font-size: 35px;
  }
  .card_img
  {
    height: 45px;
    width: 65px;
  }
}
@media screen and (max-width: 576px){
  .fight_img
  {
    max-width: 220px;
  }
  .card_fighter_name
     {
       font-size: 18px;
     }
  .fight_info
  {
    font-size: 16px;
  }
  .fighter_rating
  {
    font-size: 17px;
  }
  .versus
  {
    font-size: 18px;
  }
  .fighter_country
  {
    font-size: 14px;

  }
  .fighter_country p
  {
    margin: auto 4px auto 0;
  }
  .b-bottom
  {
    border-bottom: 1px solid lightgrey;
  }
  .b-top
  {
    border-top: 1px solid lightgrey;
  }
  .card_link
  {
    font-size: 13px;
  }
}
.container-fluid
{
  min-height: 100%;
}
