.fighters_nav_link
{
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 18px;
}
.fighters_nav_link
{
  position: relative;
  background: transparent;
  border: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  transition: 400ms ease-in;
  cursor: pointer;
  padding: 0 10px;
}

.fighters_nav_link:hover
{
  left: 5px;
  color: #000000;
}
.search_box
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_box form
{
  border: 2px solid black;
  border-radius: 4px;
}
.search_box input
{
  width: 250px;
  padding: 10px 10px;
  border: none;
}
.search_box button
{
  font-weight: bolder;
  background: transparent;
  height: 40px;
  border: none;
  transition: 400ms;
  display: none;
}
.search_box button:hover
{
  width: 45px;
  background: black;
  color: white;
}
.fighter_container
{
  background: rgb(253, 253, 253);
  border-radius: 4px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 9, 26, 0.2);
  margin-bottom: 25px;
  cursor: pointer;
  position: relative;
  transition: 200ms ease-out;
  top:0;
}
.fighter_container:hover
{
  top:-5px;
}

.card-image-fluid{
  max-height: 160px;
  max-width: 100%;
  position: relative;
}
.text-left
{
  text-align: left;
}
.fighter_nickname
{
  font-size: 15px;
  color: gray;
  font-weight: normal;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
}
.fighter_name-smaller
{
  font-size: 22px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .fighter_name-smaller
  {
    font-size: 19px;
  }
  .fighter_stats
  {
    font-size: 13px;
  }

  .fighter_link_button
  {
    height: 35px;
  }
}
.fighter_stats
{
  font-size: 15px;
  color: #3b3b3b;
  margin: 0 0 5px 0;
}

.last_fight
{
  letter-spacing: 1px;
}
.last_fight span
{
  font-size: 15px;
  font-weight: bolder;
}
.page_separator
{
  margin-bottom: 30px;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 0 12px #c5c5c5;
}
.rating
{
  color: #575757;
  font-size: 18px;
  display: flex;
  margin: 0 0 5px 0;
}
.link_button:hover
{
  top:0;
  left: 7px;
}
.w--100
{
  width: 100%;
}
.empty-list-container
{
  text-align: center;
}
.empty-list-container p
{
  color: #be0000;

}
@media screen and (min-width: 988px){
  .container-md
  {
    max-width: 900px;
  }
}
@media screen and (max-width: 766px)
{
  .fighter_nickname
  {
    font-size: 14px;
  }
  .fighter_name-smaller
  {
    font-size: 16px;
  }
  .rating
  {
    font-size: 16px;
  }
  .fighter_stats
  {
    font-size: 15px;
  }
  .card-image-fluid
  {
    max-height: 140px;
  }
}
@media screen and (max-width: 350px) {
  .fighters_nav_link
  {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px ) {
  .header
  {
    font-size: 40px;
  }
  .b-bottom
  {
    border-bottom: 1px solid #00091A33;
  }
  .fighter_container
  {
    max-width: 376px;
  }
  .w--100
  {
    width: auto;
  }
  .link_button
  {
    height: 40px;
    font-size: 12px;
    max-width: 100px;
  }
}
.champion
{
  color: gold;
  letter-spacing: 2px;
  font-size: 1rem;
}
