<div class="container-fluid px-0 header_bg">
  <div class="container-lg w-100 d-flex ps-0 ps-lg-3 pe-0 h-100">
    <div class="row mt-auto w-100">
      <div class="col-6 ps-4 ps-lg-0 mt-auto">
        <div class="d-block">
          <p class="header_fighter_nickname">"{{fighter.nickname}}"</p>
          <p class="header_fighter_name">{{fighter.name}} {{fighter.secondName}}</p>
          <p class="header_fighter_weight">{{fighter.weight}}</p>
          <p class="header_fighter_results">{{fighter.win}}-{{fighter.lose}}-{{fighter.draw}} (В-П-Н)</p>
          <div class="d-flex stats_row mt-3 mb-4">
            <div class="stats_column">
              <div class="d-flex flex-column align-items-center">
                <p class="indicator">{{fighter.winstreak}}</p>
                <div class="column_separator"></div>
                <p class="indicator_name">ПОБЕДНАЯ СЕРИЯ</p>
              </div>
            </div>
            <div class="stats_column sides_border">
              <div class="d-flex flex-column align-items-center">
                <p class="indicator">{{fighter.byknockout}}</p>
                <div class="column_separator"></div>
                <p class="indicator_name">ПОБЕДЫ НОКАУТАМИ</p>
              </div>
            </div>
            <div class="stats_column">
              <div class="d-flex flex-column align-items-center">
                <p class="indicator">{{fighter.firstRoundWins}}</p>
                <div class="column_separator"></div>
                <p class="indicator_name">ФИНИШИ В ПЕРВОМ РАУНДЕ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 pe-0">
        <div class="d-flex justify-content-end h-100">
          <img alt="none" class="img-fluid profile_img mt-auto" src="{{fighter.profilePictureUrl}}">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid stats_container px-0">
  <div class="container-lg py-4 mb-4">
        <h1 class="header text-left text-white mb-3">СТАТИСТИКА</h1>
        <div class="row px-2 px-lg-0 g-3">
          <div class="col-12 col-sm-6 col-md-4 px-0">
            <div class="d-block px-4 py-3 me-sm-3 mx-auto mx-sm-0 col-bg statistics_container ">
                <div class="d-flex justify-content-between">
                  <p class="cols-title">ТОЧНОСТЬ УДАРОВ</p>
                  <p class="cols-percentage">{{(fighter.accurateHits/fighter.totalHits) * 100 | number:'1.0-0'}}%</p>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="cols text-gray">Нанесено акц. ударов</p>
                  <p class="cols fw-bolder">{{fighter.accurateHits}}</p>
                </div>
                <div class="stats_separator"></div>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <p class="cols text-gray">Выброшено акц. ударов</p>
                  <p class="cols fw-bolder">{{fighter.totalHits}}</p>
                </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 px-0">
            <div class="d-block px-4 py-3 me-sm-3 mx-auto mx-sm-0 col-bg statistics_container">
              <div class="d-block">
                <div class="d-flex justify-content-between">
                  <p class="cols-title">УСПЕШНОСТЬ ТЕЙКДАУНОВ</p>
                  <p class="cols-percentage">{{(fighter.accurateTakedowns/fighter.totalTakedowns) * 100 | number:'1.0-0'}}%</p>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="cols text-gray">Тейкдаунов выполнено</p>
                  <p class="cols fw-bolder">{{fighter.accurateTakedowns}}</p>
                </div>
                <div class="stats_separator"></div>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <p class="cols text-gray">Попыток текйдаунов</p>
                  <p class="cols fw-bolder">{{fighter.totalTakedowns}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 px-0">
            <div class="d-block px-4 py-3 me-sm-3 h-100 mx-auto mx-sm-0 col-bg statistics_container">
              <div class="d-block">
                <div class="d-flex">
                  <p class="cols-title ml-100">СПОСОБ ПОБЕДЫ</p>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="cols text-gray">KO/TKO</p>
                  <p class="cols fw-bolder">{{fighter.winByKoTko}}({{(fighter.winByKoTko / fighter.win) * 100 | number:'1.0-0'}}%)</p>
                </div>
                <div class="stats_separator"></div>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <p class="cols text-gray">РЕШЕНИЕ</p>
                  <p class="cols fw-bolder">{{fighter.wInByDecision}}({{(fighter.wInByDecision / fighter.win)*100 | number:'1.0-0'}}%)</p>
                </div>
                <div class="stats_separator"></div>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <p class="cols text-gray">САМБИШЕН</p>
                  <p class="cols fw-bolder">{{fighter.winBySubmission}}({{(fighter.winBySubmission / fighter.win)*100 | number:'1.0-0'}}%)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
<div class="container-lg mt-3 px-0">
  <div class="d-block px-3 px-lg-0">
    <h1 class="header text-left">ИСТОРИЯ ВЫСТУПЛЕНИЙ</h1>
    <div class="empty_container" *ngIf="fighterHistory.length <1; else list">
      <h2>Здесь пока ничего нет...</h2>
    </div>
    <ng-template #list>
    <div class="d-flex flex-column justify-content-center align-items-center mt-4">
        <div class="row mb-3 px-3 py-3 item_container" *ngFor="let fight of fighterHistory">
          <div class="col-12 col-sm-6">
            <div class="d-flex h-100 justify-content-center justify-content-sm-start align-items-end">
              <div class="d-block position-relative img_container">
                <img alt="none" class="position-relative history_img img_left" src="{{fight.firstFighter.pictureUrl}}"/>
                <img alt="none" class="position-absolute history_img img_right top-0" src="{{fight.secondFighter.pictureUrl}}"/>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 mt-auto">
            <div class="d-flex justify-content-center justify-content-sm-end">
              <div class="d-block py-2">
                <p class="col_names m-0 fw-bolder">{{fight.firstFighter.secondName | uppercase}} VS {{fight.secondFighter.secondName | uppercase}}</p>
                <p class="col_date">{{fight.date | date:'shortDate'}}</p>
                <div class="col_result">
                  <div class="result-col">
                    <p class="result-title">Раунд</p>
                    <p class="result-end">{{fight.round}}</p>
                  </div>
                  <div class="result-col">
                    <p class="result-title">Метод</p>
                    <p class="result-end">{{fight.winReason}}</p>
                  </div>
                  <div class="result-col">
                    <p class="result-title">ПОБЕДА</p>
                    <p class="result-end">{{fight.winnerNum == 1 ? fight.firstFighter.secondName : fight.secondFighter.secondName}}</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      <button class="history_more">ПОКАЗАТЬ БОЛЬШЕ</button>
    </div>
    </ng-template>
  </div>
</div>
<app-footer></app-footer>
