<div class="main_page_content_container">
  <img class="main_page_background" src="https://wpapers.ru/wallpapers/Sport/9585/1920x1080_UFC.jpg">
  <div class="background_shadow"></div>
  <div class="main_page_content">
    <p class="header_event_title">GFC 221</p>
    <p style="font-size: 22px; margin: 0; letter-spacing: 1px">Возвращение Копибары Копибаровича, новое испытание для администраторов сервера, битва дрыщавых школьников, косящих под бойцов.</p>
    <div class="main_page_timer_container">
      <div class="maim_page_timer">
        <div class="main_page_timer_content">
          <p style="margin: 0; font-size: 26px; color: white; text-shadow: 0px 0px 2px black; letter-spacing: 3px">TIME</p>
          <p class="timer">24:00:00</p>
          <a href="#" class="header_event_link">ПОЛНЫЙ КАРД</a>
        </div>
      </div>
    </div>
  </div>

</div>

