<div class="main_page_content_container px-3">
  <div class="main_page_content">
    <p class="main_header text-center spacing">GFC {{nearTournament.number}}</p>
    <p class="main_title spacing">{{nearTournament.title}}</p>
    <div class="d-flex align-items-center justify-content-center mt-4">
      <div class="maim_page_timer">
        <div class="main_page_timer_content">
          <ng-container *ngIf="isTimerTick">
            <div class="timer">
              <p>TIME</p>
              <p>{{hours | number:'2.0-0'}}:{{minutes | number:'2.0-0'}}:{{seconds | number:'2.0-0'}}</p>
            </div>
          </ng-container>
            <p class="timer" *ngIf="isEventStarted">ТУРНИР НАЧАЛСЯ!</p>
          <a routerLink="../tournaments/{{nearTournament.id}}" class="link_button mt-2 smaller">ПОЛНЫЙ КАРД</a>
        </div>
      </div>
    </div>
  </div>

</div>

