html
{
  height: 100%;
}
body
{
  font-family: 'Oswald', sans-serif;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}
app-root
{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-fluid
{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.top-20
{
  top:20px;
}
.navbar_container
{
  display: flex;
}
.navbar_menu
{
  display: flex;
}
.navbar_menu a:last-child
{
  margin-left: 30px;
}
.navbar_item
{
  font-size: 19px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  margin: 0;
  color: black;
  justify-content: center;
  transition: 300ms;
  text-decoration: none;
  height: 100%;
  top:0;
  position: relative;
}
.navbar_item:hover
{
  cursor: pointer;
  color: #be0000;
  top:-3px;
}
.navbar_brend
{
  position: relative;
  top:0px;
  margin: 0 40px;
  cursor: pointer;
  transition: 400ms;
}
.navbar_brend svg
{
  transition: 400ms;
}
.navbar_brend:hover svg
{
  fill: #be0000;
}
.navbar_brend:hover
{
  top:-3px;
}
@media (min-width: 1100px)
{
  .px-md-10
  {
    padding: 0 220px;
  }
}
@media (max-width: 1199px) {
  .container-md-lg
  {
    max-width: 740px;
  }
}
@media (min-width: 756px) {
  .container-md-lg
  {
    min-width: 756px;
  }
}
.link_button
{
  color: black;
  position: relative;
  font-size: 13.5px;
  letter-spacing: 1px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px #a8a7a7;
  border: 2px solid transparent;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width:120px;
  left: 0;
  top:0;
  transition: 400ms ease-in;
  z-index: 3;
}
.link_button:before
{
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 0;
  background: transparent;
  transition: 400ms ease-in;
  border-radius: 1px;

  z-index: -2;
}
.link_button:hover
{
  top:-5px;
  color: white;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
}
.link_button:hover:before
{
  background: rgb(38, 38, 38);;
  width: 100%;
}
.header
{
  font-size: clamp(2.5rem, 3vw, 5rem);
  letter-spacing: 2px;
  text-align: center;
}
.mb-6
{
  margin-bottom: 100px;
}
